*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Nunito';
    /* font-family: 'Nunito', sans-serif; */
}
.container{
    background-color: rgba(255, 227, 232, 0.819);
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1{
text-align: center;
}
.myinput{
    /* display: flex;
    flex-direction: column; */
    padding: 7px;
    margin: 6px 308px;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 15px;
    border: 2px solid red;
    border-radius: 10px;
    outline:none;
    background-color: rgb(255, 220, 253);
}

.btn{
    justify-content: center;
    margin: 18px;
    width: 10%;
    margin-left: 45%;
    border-radius: 5px;
    border: 2px solid red;
    padding: 5px;
    font-size: 15px;
    background-color: navy;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(28, 28, 195);
}


/* media query control */
@media only screen and (max-width: 1203px){
    .html{
        min-width: 100vh;
    }
    .container{
        min-height: 50vh;
    }
    #sponsors{
        justify-content: center;
        max-width: 100%;
    }
    #sponcerSection{
        height: fit-content;
        /* width: fit-content; */
    }
    #sponsors img{
        height: 100px;
        /* margin: 50px 245px; */
        /* justify-content: center; */
        display: flex;
        
        /* flex-direction: column; */
        margin: 10px auto;
    }   
    form{
        margin: 38px 53px;
        margin-left: -100px; 
        /* text-align: center; */
        justify-content: center;
        /* padding-right: 1rem; */
        height: fit-content;
        width: fit-content;
    }
    .btn{
    margin-left: 50%;

    }
    .hamberger{
        
        justify-content: center;
        margin: 18px;
        width: 10%;
        margin-left: 45%;
        border-radius: 5px;
        border: 2px solid red;
        padding: 5px;
        font-size: 15px;
        background-color: navy;
        color: white;
        margin-bottom: 15px;
        cursor: pointer;
    }
}
